@keyframes StartUpAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}

.StartUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    animation: StartUpAnimation 1s ease-out forwards;
    animation-delay: 2s;
    z-index: 9999;
}